body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_item {
  list-style-type: none;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
}

.menu_item a {
  text-decoration: none;
  color: #ffffff;
}

.nav_list {
  margin-left: 0;
  padding-left: 0;
}

.nav_list .menu_item:nth-child(2) {
  border-right: solid 2px #ffffff;
  border-left: solid 2px #ffffff;
  padding-right: 10px;
  padding-left: 10px;
}

.header {
  height: 84px;
  box-sizing: border-box;
  padding: 20px 55px;
  background-color: #007765;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav_list {
  width: 424px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.intro {
  width: 100%;
  height: 403px;
  display: flex;
  align-items: center;
  background-image: url(../images/backgrounds/background_intro.jpg);
}

.intro__text {
  margin: auto;
  font-weight: 500;
  font-size: 72px;
  color: #ffffff;
}

.section_content {
  max-width: 1110px;
  padding: 48px 55px 92px;
}

.the_problem {
  min-height: 719px;
  width: 100%;
  background-color: #eeeeee;
}

.the_problem__content {
  /* height: 579px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.section_title {
  text-align: center;
  font-weight: 500;
  font-size: 64px;
  margin: 0 auto 16px;
  color: #007765;
}

.the_problem__text {
  min-height: 488px;
  font-family: "Roboto", sans-serif;
}

.block_text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  line-height: 37px;
}

.action {
  width: 100%;
  min-height: 483px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/backgrounds/background_action.jpg);
}

.action__text {
  text-align: center;
  width: 893px;
  min-height: 228px;
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  color: #ffffff;
}



.introducing {
  min-height: 604px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introducing__content {
  min-height: 464px;
}

.introducing__image {
  margin-right: 48px;
  float: left;
}

.the_team {
  min-height: 845px;
  width: 100%;
  background-color: #eeeeee;
}

.the_team__header {
  margin-bottom: 32px;
}

.team {
  margin: 32px auto 96px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.crewman {
  width: 350px;
  height: 283px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo {
  margin: 24px auto 12px;
}

.name {
  font-weight: bold;
  font-size: 24px;
  color: #007765;
}

.function {
  font-style: italic;
  font-size: 18px;
  line-height: 21px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 176px;
  background-color: #333333;
}

.footer__text {
  width: 540px;
  height: 64px;
  margin: 50px auto;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

@media (min-width: 2000px) {

  .intro {
    background-image: url(../images/backgrounds/background_intro_2000px.jpg);
  }

  .action {
    background-image: url(../images/backgrounds/background_action_2000px.jpg);
  }
}