body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}

.header {
  height: 84px;
  box-sizing: border-box;
  padding: 20px 0;
  background-color: #007765;
}

.header__content {
  width: 1110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.header__right {
  width: 424px;
  display: flex;
  justify-content: space-between;
}

.header__text {
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
}

.block1 {
  height: 403px;
  display: flex;
  align-items: center;
  background-image: url(/images/backgrounds/background_block1.jpg);
}

.block1__text {
  margin: auto;
  font-weight: 500;
  font-size: 72px;
  color: #ffffff;
}

.block_content {
  width: 1110px;
  margin: 0 auto 92px;
}

.block2 {
  height: 719px;
  background-color: #eeeeee;
}

.block2__content {
  /* height: 579px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.block_header {
  text-align: center;
  font-weight: 500;
  font-size: 64px;
  margin: 48px auto 16px;
  color: #007765;
}

.block2__text {
  height: 488px;
  font-family: "Roboto", sans-serif;
}

.block_text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  line-height: 37px;
}

.block3 {
  height: 483px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/images/backgrounds/background_block3.jpg);
}

.block3__text {
  text-align: center;
  width: 893px;
  height: 228px;
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  color: #ffffff;
}

.block4 {
  height: 604px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block4__content {
  height: 512px;
}

.block4__image {
  margin-right: 48px;
  float: left;
}

.block4__text {
  height: 223px;
  margin-top: 35px;
  font-family: "Roboto", sans-serif;
}

.block5 {
  height: 845px;
  background-color: #eeeeee;
}

.block5__header {
  margin-bottom: 32px;
}

.team {
  margin-bottom: 96px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.crewman {
  width: 350px;
  height: 283px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo {
  margin: 24px auto 12px;
}

.name {
  font-weight: bold;
  font-size: 24px;
  color: #007765;
}

.function {
  font-style: italic;
  font-size: 18px;
  line-height: 21px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 176px;
  background-color: #333333;
}

.footer__text {
  width: 540px;
  height: 64px;
  margin: 50px auto;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

@media (min-width: 2000px) {

  .block1 {
    background-image: url(/images/backgrounds/background_block1_2000px.jpg);
  }

  .block3 {
    background-image: url(/images/backgrounds/background_block3_2000px.jpg);
  }
}