body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}

.header {
  height: 84px;
  padding: 20px 0 19px;
  box-sizing: border-box;
  background-color: #007765;
}

.center {
  max-width: 1140px;
  margin: auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.menu__item {
  list-style-type: none;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
}

.menu__link {
  text-decoration: none;
  color: #ffffff;
}

.nav__menu {
  max-width: 424px;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  margin-left: 0;
  padding-left: 0;
}

.nav__menu .menu__item:nth-child(2) {
  border-right: solid 2px #ffffff;
  border-left: solid 2px #ffffff;
  padding-right: 10px;
  padding-left: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  width: 100%;
  height: 403px;
  display: flex;
  align-items: center;
  background-image: url(../images/backgrounds/background_intro.jpg);
}

.intro__text {
  margin: auto;
  font-weight: 500;
  font-size: 72px;
  color: #ffffff;
}

.container {
  max-width: 1140px;
  padding: 48px 15px 92px;
  box-sizing: border-box;
}

.problem {
  display: flex;
  justify-content: center;
  min-height: 719px;
  width: 100%;
  background-color: #eeeeee;
}

.problem__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.problem__title {
  text-align: center;
  font-weight: 500;
  font-size: 64px;
  margin: 0 auto 16px;
  color: #007765;
}

.problem__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  line-height: 37px;
}

.action {
  width: 100%;
  min-height: 483px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/backgrounds/background_action.jpg);
}

.action__text {
  text-align: center;
  width: 893px;
  min-height: 228px;
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  color: #ffffff;
}

.introducing {
  min-height: 604px;
  display: flex;
  justify-content: center;
}

.introducing__title {
  text-align: center;
  font-weight: 500;
  font-size: 64px;
  margin: 0 auto 16px;
  color: #007765;
}

.introducing__image {
  margin-right: 48px;
  float: left;
}

.introducing__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  line-height: 37px;
}

.the-team {
  display: flex;
  justify-content: center;
  min-height: 845px;
  width: 100%;
  background-color: #eeeeee;
}

.the_team__content {
  padding-bottom: 66px;
}

.the-team__title {
  text-align: center;
  font-weight: 500;
  font-size: 64px;
  margin: 0 auto 16px;
  color: #007765;
}

.team {
  margin: 32px auto 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.crewman {
  width: 350px;
  height: 283px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crewman__photo {
  margin: 24px auto 12px;
}

.crewman__name {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  color: #007765;
}

.crewman__function {
  margin: 0;
  font-style: italic;
  font-size: 18px;
  line-height: 21px;
}

.footer {
  display: flex;
  justify-content: center;
  height: 176px;
  background-color: #333333;
}

.footer__text {
  width: 540px;
  height: 64px;
  margin: 48px auto 0;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

@media (min-width: 2000px) {
  .intro {
    background-image: url(../images/backgrounds/background_intro_2000px.jpg);
  }

  .action {
    background-image: url(../images/backgrounds/background_action_2000px.jpg);
  }
}
